@import 'toolkitcss/src/lib/styles/index';

.view-container {
  padding: 14px;
}

.color {
  &--primary {
    color: var(--el-color-primary) !important;
  }

  &--success {
    color: var(--el-color-success) !important;
  }

  &--danger {
    color: var(--el-color-danger) !important;
  }

  &--warning {
    color: var(--el-color-warning) !important;
  }

  &--info {
    color: var(--el-color-info) !important;
  }
}